h1{
  color: blue;
  font-size: 50px; 
}
p{
  color: blue;
  font-size: 16px;
  font font-family: 'Helvetica', sans-serif;
}
ul li{
  background-color: yellow;
}
h2{
  color: green;
  background-color: orange;
}
ol li{
  background-color: teal;
}
